
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(78,7,92);
    background: linear-gradient(90deg, rgba(78,7,92,1) 0%, rgba(96,12,112,1) 100%);
}
.formPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background: rgb(78,7,92);
    background: linear-gradient(90deg, rgba(78,7,92,1) 0%, rgba(96,12,112,1) 100%);
    overflow-y: auto;
}
.formPage > h1 {
    color: white;
}

.myform {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.my-form-group {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 15px;
}
.my-form-group label {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
}
.my-form-group select,
.my-form-group input {
    color: white;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.my-form-group select option{
  color: black;
}
.my-form-group input,
.my-form-group input::placeholder {
     color: #fff;
}
.my-form-group input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.my-form-group .error {
  color: #fff;
  font-size: 0.8rem;
  margin: 0;
}
.my-form-group button {
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 100%);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: border-radius 0.8s ease-in-out;
    outline: none;
}
.my-form-group button:hover {
     border-radius: 10px;
}
@media screen and (min-width: 600px) {
    .myform {
        width: 60vw;
        padding-top: 50px;
    }
}
@media screen and (min-width: 800px) {

    .myform {
        width: 40vw;
        padding-top: 50px;
    }
}
